@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;    
}

:root{
    --color-neutral-black: #000000;
    --color-neutral-gray: #2F3A41;
    --color-neutral-white: #FFFFFF;
    --color-primary-blue: #00ADEF;
    --color-background: #111110;

    --font: 'Inter';
    --headline1-big: 64px;
    --headline1-medium: 48px;
    --headline1-weight: 700;

    --headline2-big: 40px;
    --headline2-medium: 33px;
    --headline2-normal: 26px;

    --paragraph-normal: 20px;
    --paragraph-small: 12px;
    --paragraph-tiny: 10px;

    --button-text: 28px;
    --button-text-small: 15px;

    --header-links: 24px;
    --footer-links1: 16px;
    --footer-links2: 14px;

}