@import url(../../../../style/global.css);

a{
    text-decoration: none;
    color: var(--color-neutral-white);
}

body{
    position: relative;
    overflow-x: hidden;
    background-color: var(--color-neutral-black);
    color: var(--color-neutral-white);
}

.background{
    position: absolute;
    z-index: -1;
    top: 3%;
    left: 0%;
    width: 100%;
    height: 80%;    
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        background-image: url('../assets/imgs/Circuit2-off.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    50% {
        opacity: 0.5;
        background-image: url('../assets/imgs/Circuit2-on.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        opacity: 1;
        background-image: url('../assets/imgs/Circuit2-off.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

header, footer{
    background-color: var(--color-neutral-black);
    color: var(--color-neutral-white);
}

nav{
    font-size: var(--header-links);
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
/* font-size: var( --headline1-big) */

.contato{
    color: var(--color-primary-blue);
    display: flex;
    align-items: center;
    gap: 3px;
}

main{
    display: flex;
    /*background-image: url(../assets/imgs/Fundo-Placa.png);*/
    width: 100%;
    height: 1887px;
}

main .column1-main{
    display: flex;
    flex-direction: column;
    gap: 35.72px;
}

.item1-profile{
    padding-top: 24.7px;
    padding-left: 82px;
}

.profile{
    display: flex;
    background-image: url('../assets/imgs/Display1.png');
    width: 492px;
    height: 355.56px;
    align-items: center;
    gap: 76px;
    font-size: 16px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 37px;
    gap: 3px;
}

.user-name{
    font-size: var(--header-links);
    font-weight: bold;
}

.profile .infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews{
    display: flex;
    flex-direction: column;
    font-weight: extra-bold;
    gap: 3px;
}

.months{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.gif-profile{
    position: absolute;
    width: 447px;    
    height: 294px;
    z-index: 1000;
    pointer-events: none;
}

.gif-profile .frame{
    position: absolute;
    top: 13%;
    left: 5%;
    width: 447px;
    height: 294px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-profile .f2{
    animation-delay: 0.1s;  
}

@keyframes flicker {
    0%, 49%   { opacity: 1; }
    50%, 100% { opacity: 0; }
}

.item2-security{
    padding-left: 84px;
}

.security{
    display: flex;
    flex-direction: column;
    background-image: url('../assets/imgs/Display3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    gap: 20px;
}

.security .infos{
    display: flex;
    flex-direction: column;
    padding-top: 63.45px;
    padding-left: 34px;
    gap: 10px;
}

.security .infos .title{
    font-size: var(--button-text);
    font-weight: bold;
}

.security .infos .content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: var(--paragraph-normal);
    gap: 15px;
}

.security .infos .content .address, .email, .phone{
    display: flex;
    align-items: center;
    gap: 20px;
}

.line{
    width: 375px;
    justify-content: center;
    padding-left: 34px;
}

.verification{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 34px;
    padding-right: 34px;
}

.verification .title{
    display: flex;
    justify-content: center;
    font-size: var(--button-text);
    font-weight: bold;
}

.verification .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.verification .button{
    display: flex;
    justify-content: center;
}

.verification .button input{
    width: 100px;
    height: 36px;
    background-color: #003A41;
    color: white;
    font-size: var(--footer-links1);
    border-radius: 18px;
}

.gif-security{
    position: absolute;
    width: 408px;
    height: 396.14px;
    z-index: 1000;
    pointer-events: none;
}

.gif-security .frame{
    position: absolute;
    top: 11%;
    left: 5%;
    width: 600px;
    height: 600px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-security .f2{
    animation-delay: 0.1s;  
}

@keyframes flicker {
    0%, 49%   { opacity: 1; }
    50%, 100% { opacity: 0; }
}

main .column2-main{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item1-options{
    display: flex;
    padding-top: 24.7px;
    padding-left: 32px;
}

.options{
    display: flex;
    flex-direction: column;
    background-image: url('../assets/imgs/Display2.png');
    width: 786.2px;
    height: 355.56px;
    padding-top: 44.28px;
    padding-left: 52px;
    gap: 24px;
}

.options-container{
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 10px;
}

.options .title{
    font-size: var(--button-text);
    font-weight: bold;
}

.options .buttons{
    display: flex;
    gap: 20px;
}

.options .buttons input{
    width: 227px;
    height: 36px;
    background-color: #003A41;
    color: white;
    font-size: var(--footer-links1);
    border-radius: 18px;
    font-weight: bold;
}

.column1-options, .column2-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options .infos{
    display: flex;;
    font-size: var(--paragraph-normal);
    gap: 35px;
}

.options .infos .column1-infos, .column2-infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gif-options{
    position: absolute;
    width: 714.29px;
    height: 294px;
    z-index: 1000;
    pointer-events: none;
}

.gif-options .frame{
    position: absolute;
    top: 12%;
    left: 5%;
    width: 714.29px;
    height: 294px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-options .f2{
    animation-delay: 0.1s;  
}

@keyframes flicker {
    0%, 49%   { opacity: 1; }
    50%, 100% { opacity: 0; }
}

.item2-rent{
    padding-top: 35.72px;
    padding-left: 109px;
}

.rent{
    display: flex;
    flex-direction: column;
    background-image: url('../assets/imgs/Display4.png');
    width: 424.1px;
    height: 226.08px;
    padding-top: 40.51px;
    padding-left: 32.99px;
    gap: 10px;
}

.rent .title{
    font-size: var(--button-text);
    font-weight: bold;
}

.rent .products{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: var(--paragraph-normal);
    gap: 15px;
}

.rent .products .product1, .product2, .product3{
    display: flex;
    align-items: center;
    gap: 20px;
}

.gif-rent{
    position: absolute;
    width: 385px;
    height: 185px;
    z-index: 1000;
    pointer-events: none;
}

.gif-rent .frame{
    position: absolute;
    top: 11%;
    left: 5%;
    width: 385px;
    height: 185px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-rent .f2{
    animation-delay: 0.1s;  
}

@keyframes flicker {
    0%, 49%   { opacity: 1; }
    50%, 100% { opacity: 0; }
}

.item3-reviews{
    display: flex;
    flex-direction: column;
    padding-top: 76.92px;
    padding-left: 96px;
    gap: 19px;
}

.item3-reviews .title{
    font-size: var(--button-text);
    font-weight: bold;
}

.item3-reviews .reviews{
    display: flex;
    flex-direction: column;
    background-image: url('../assets/imgs/Display5.png');
    width: 525px;
    height: 248.29px;
    padding-top: 42.52px;
    padding-left: 37.27px;
    gap: 20px;
}

.item3-reviews .reviews .text{
    width: 450px;
}

.item3-reviews .reviews .infos-review{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item3-reviews .reviews .product{
    font-size: var(--header-links);
    font-weight: bold;
}

.item3-reviews .reviews .date{
    font-size: var(--footer-links2);
}

.item3-reviews .buttons{
    display: flex;
    flex-direction: column;
    font-size: var(--paragraph-normal);
    text-decoration: underline;
    padding-top: 21.71px;
    gap: 82px;
}

.gif-reviews{
    position: absolute;
    width: 478px;
    height: 205px;
    z-index: 1000;
    pointer-events: none;
}

.gif-reviews .frame{
    position: absolute;
    top: 37%;
    left: 5%;
    width: 478px;
    height: 205px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-reviews .f2{
    animation-delay: 0.1s;  
}

@keyframes flicker {
    0%, 49%   { opacity: 1; }
    50%, 100% { opacity: 0; }
}

.item4-search{
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    padding-left: 76px;
    gap: 22px;
}

.item4-search .title{
    font-size: var(--button-text);
    font-weight: bold;
    padding-left: 76px;
}

.search{
    display: flex;
    flex-direction: column;
    background-image: url('../assets/imgs/Display6.png');
    width: 655.4px;
    height: 313.25px;
    padding-top: 54px;
    padding-left: 54px;
    gap: 24px;
}

.search .row1, .row2{
    display: flex;
    gap: 22px;
}

.gif-search{
    position: absolute;
    width: 478px;
    height: 205px;
    z-index: 1000;
    pointer-events: none;
}

.gif-search .frame{
    position: absolute;
    top: 42%;
    left: 6%;
    width: 595.93px;
    height: 257.4px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-search .f2{
    animation-delay: 0.1s;  
}

@keyframes flicker {
    0%, 49%   { opacity: 1; }
    50%, 100% { opacity: 0; }
}

footer{
    width: 100%;
    font-size: var(--footer-links1);
    flex-direction: column;
    padding-left: 21px;
    padding-bottom: 13.8px;
}

footer a{
    font-size: var(--footer-links2);
}

footer .columns{
    display: flex;
    gap: 20px;
}

footer .column1{
    width: 40%;
}

footer .column1 input, button{
    color: black;
    background-color: white;
    border: none;
    font-size: var(--footer-links1);
    font-weight: bold;
    border-radius: 20px;
}

footer .column1 input{
    width: 342px;
    height: 43px;
    padding-left: 28px;
}

footer .column1 button{
    width: 89px;
    height: 43px;;
}

footer .column1, .column2, .column3, .column4{
    display: flex;
    flex-direction: column;
}

footer .column2, .column3, .column4{
    width: 20%;
    align-items: center;
    gap: 20px;
}

footer .title{
    font-size: var(--paragraph-normal);
    font-weight: bold;
    display: flex;
    justify-content: center;
}

footer .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.face, .insta, .twitter, .linkedin{
    display: flex;
    align-items: center;
    gap: 4px;
}

.copy{
    width: 100%;
    gap: 25px;
    font-size: var(--footer-links2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 23px;
    padding-right: 25.6px;
}